.logoimgy2{
    width: 30%;
    height:80px !important;
    border-radius: 50%;
    
}
.nnloh{
    margin-left: 10px;
}
p{margin: 0px !important;}
.maruil{
    margin-left: 40px;
   
}
.nnnlooj{
    border: 2px solid rgb(0, 0, 0) !important;
}

