.tutorimg{
    width: 70px;

}
.navbarf{
    padding: 0px 50px 10px 50px;
    background-color: #fff8f8;
}
.navlink1{
    margin: 0px 10px 0px 10px !important;
}
.navlink2{
    margin: 0px 20px 0px 20px !important;
}
.signup1{
    background-color: #b6e3ff !important;
    font-weight: 600 !important;
    padding: 8px 30px 8px 30px !important;
    border: none !important;
}
.signup1:hover{
    background-color: #1177fe!important;
    font-weight: 600;
    padding: 8px 30px 8px 30px;
    border: none !important;
}
.searchicon{
   font-size: 30px;
}
.searchicon{
    font-size: 25px;
 }
 .iconj{
    background-color: transparent !important;
    border: none !important;
 }
 .iconj:hover{
    background-color: transparent !important;
    border: none !important;
 }
 .navlink1{
    font-size: 16px;
    color: black;
 }
 .navlink1:hover{
    font-size: 16px;
    color: #1177fe;
 }

 .navlink2{
    font-size: 16px;
    color: black;
   
 }
 .navlink2:hover{
    font-size: 16px;
    color: #1177fe;
 }
.tutorimg1{
    width: 90px;
}

 .imglogo {
    width: 100px;
    align-items: center;
    margin: 2px 0px 0px 0px;
    float: right;
  }
 #basic-navbar-nav{
    float: right;
 }
 .n1{
    padding: 8px 0px 8px 0px;
    color:black;
 }
 .n1:hover{
    padding: 8px 0px 8px 0px;
    color: #ef632f;
 }
@media screen and (max-width: 1080px) {

    
    .navbar-collapse {
        /* flex-basis: 100%;
        flex-grow: 1;
        align-items: center; */
        z-index: 10;
       background-color: #ffffff !important;
        color: #ffffff;
        margin-top: 10px;
       
    }
    
    .navbar-light .navbar-toggler {
        color: rgb(255 255 255) !important;
        border-color: rgb(255 255 255) !important;
        
    }
    
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: right;
    z-index: 10;
 
   /* background-color: #ffffff; */
    /* color: #ffffff;  */
   
}

a{
    text-decoration: none !important;
}
.desktop22{
    display: none!important;
  }


@media (max-width: 480px) {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .me-auto {
        
        margin: 0px 0px 0px 0px !important;
        flex: 0.95 1 !important;
    }
    div#offcanvasNavbar-expand-lg {
        width: 57%;
    }
    .offcanvas-backdrop.show {
        opacity: 1;
        width: 80%;
        background: transparent;
    }
    nav.fixed-top.navu9.desktop2.navbar.navbar-expand-md.navbar-light.bg-white {
        padding: 0px !important;
        margin: 5px 0px 5px 0px !important;
    }
    
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: right;
        z-index: 10;
        /* background-color: #ffffff; */
        /* color: #ffffff; */
        margin: 10px 0px 0px 0px !important;
        padding: 0px 10px 30px 10px !important;
    }
    
    .desktop11{
        display: none !important;
      }
      .desktop22{
        display: block !important;
    
      }
      .tutorimg1 {
        width: 90px;
       height: 70px;
       margin: 0px 0px 0px 0px !important;
    }
    .desktop13{
        display: block !important;
    }
    div#basic-navbar-nav\ text-white\ bn {
        background: white !important;
    }
    .navlink2 {
        margin: 0px 10px 10px 10px !important;
    }
    
  }
.desktop13{
    display: none ;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    background-color: #b6e3ff;
    border-radius: 30px;


}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a7b300;
    padding-right: 40px;
    color: #000000;
}

.input-search::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0);
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    border: none !important;
    right: 0px;
    color: #000000;

    background-color: #fff8f8;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


 @media (max-width: 768px) {
   
    .desktop11{
        display: block ;
      }
      .desktop22{
        display: none;
        
      }
      .desktop13{
        display: block !important;
    }

}








